{% extends "base.html" %}
{% load static %}
  


    {% block blog_template %}
      <!-- blog section -->
  
      <section class="blog_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>  
              {{blog.title}}
            </h2>
          </div>
          <div class="row">
            {% for block in tree_blocks %}
              <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{{block.image.url}}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      {{block.title}}
                    </h5>
                    <p>
                      {{block.description}}
                    </p>
                    <a href="">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </section>
  
      <!-- end blog section -->

  {% endblock %}
  </body>


