{% extends "base.html" %}
{% load static %}
 
  

    {% block furniture_template %}
    <!-- furniture section -->

    <section class="furniture_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            {{ furniture.title }}
          </h2>
          <p>
            {{ furniture.description }}
          </p>
        </div>
        <div class="row">
          {% for block in mini_blocks %}
            <div class="col-md-6 col-lg-4">
              <div class="box">
                <div class="img-box">
                  <img src="{{block.image.url}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>{{block.title}}</h5>
                  <div class="price_box">
                    <h6 class="price_heading">
                      <span>$</span> {{block.price}}
                    </h6>
                    <a href="">
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

      </div>
    </section>

    <!-- end furniture section -->


  
    {% endblock %} 
  </body>

 